<header id="header" class="navbar navbar-expand-lg navbar-light navbar-end bg-white">
  <div class="container">
    <nav class="navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="@@autopath/index.html" aria-label="Unify">
        <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/logo.svg" alt="Image Description">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-pills">
          <!-- Landings -->
          <li class="nav-item dropdown">
            <a id="landingsMegaMenu" class="nav-link dropdown-toggle @@if(category=='landings'){active}" aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Landings</a>

            <!-- Mega Menu -->
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="landingsMegaMenu" style="min-width: 35rem;">
              <!-- Main Content -->
              <div class="row">
                <div class="col-lg d-none d-lg-block">
                  <div class="d-flex align-items-start flex-column bg-light rounded-3 h-100 p-4">
                    <span class="fs-3 fw-bold d-block">Landings</span>
                    <p class="text-body">Accelerate the way your business builds modern sites at scale.</p>
                    <div class="mt-auto">
                      <p class="mb-1"><a class="link link-dark link-pointer" href="#">Learn more</a></p>
                      <p class="mb-1"><a class="link link-dark link-pointer" href="#">Why Unify Template</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-sm">
                  <div class="navbar-dropdown-menu-inner">
                    <span class="dropdown-header">Classic</span>
                    <a class="dropdown-item @@if(link=='index.html'){active}" href="@@autopath/index.html"><i class="bi-building me-2"></i> Corporate</a>
                    <a class="dropdown-item @@if(link=='landing-business.html'){active}" href="@@autopath/landing-business.html"><i class="bi-briefcase me-2"></i> Business <span class="badge text-primary">New</span></a>
                    <a class="dropdown-item @@if(link=='landing-consulting.html'){active}" href="@@autopath/landing-consulting.html"><i class="bi-chat-right-dots me-2"></i> Consulting <span class="badge text-primary">New</span></a>
                    <a class="dropdown-item @@if(link=='landing-saas.html'){active}" href="@@autopath/landing-saas.html"><i class="bi-tropical-storm me-2"></i> SaaS</a>
                    <a class="dropdown-item @@if(link=='landing-services.html'){active}" href="@@autopath/landing-services.html"><i class="bi-gear me-2"></i> Services</a>
                  </div>
                </div>
              </div>
              <!-- End Main Content -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Landings -->

          <!-- Pages -->
          <li class="nav-item dropdown">
            <a id="pagesMegaMenu" class="nav-link dropdown-toggle @@if(category=='pages'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

            <!-- Mega Menu -->
            <div class="dropdown-menu dropdown-menu-end w-100" aria-labelledby="pagesMegaMenu" style="min-width: 42rem;">
              <!-- Main Content -->
              <div class="navbar-dropdown-menu-inner">
                <div class="row">
                  <div class="col-sm-6 col-lg-4">
                    <span class="dropdown-header">Company</span>
                    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/page-about.html">About</a>
                    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="@@autopath/page-customer-stories.html">Customer Stories</a>
                    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="@@autopath/page-customer-story.html">Customer Story</a>
                    <a class="dropdown-item @@if(link=='page-help-center.html'){active}" href="@@autopath/page-help-center.html">Help Center</a>
                    <a class="dropdown-item @@if(link=='page-help-center-categories.html'){active}" href="@@autopath/page-help-center-categories.html">Help Center: Categories</a>
                    <a class="dropdown-item @@if(link=='page-help-center-article.html'){active}" href="@@autopath/page-help-center-article.html">Help Center: Article</a>
                  </div>

                  <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                    <span class="dropdown-header invisible">Company</span>
                    <a class="dropdown-item @@if(link=='page-careers.html'){active}" href="@@autopath/page-careers.html">Careers</a>
                    <a class="dropdown-item @@if(link=='page-careers-role-overview.html'){active}" href="@@autopath/page-careers-role-overview.html">Careers: Role Overview</a>
                    <a class="dropdown-item @@if(link=='page-careers-apply.html'){active}" href="@@autopath/page-careers-apply.html">Careers: Apply</a>
                    <a class="dropdown-item @@if(link=='page-hire-us.html'){active}" href="@@autopath/page-hire-us.html">Hire Us</a>
                    <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Log In</a>
                    <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Sign Up</a>
                    <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Forgot Password</a>
                  </div>

                  <div class="col-sm-6 col-lg-4">
                    <span class="dropdown-header">Specialty pages</span>
                    <a class="dropdown-item @@if(link=='page-pricing.html'){active}" href="@@autopath/page-pricing.html">Pricing</a>
                    <a class="dropdown-item @@if(link=='page-contacts.html'){active}" href="@@autopath/page-contacts.html">Contacts</a>
                    <a class="dropdown-item @@if(link=='page-coming-soon.html'){active}" href="@@autopath/page-coming-soon.html">Coming Soon</a>
                    <a class="dropdown-item @@if(link=='page-coming-soon-simple.html'){active}" href="@@autopath/page-coming-soon-simple.html">Coming Soon: Simple</a>
                    <a class="dropdown-item @@if(link=='page-error-404.html'){active}" href="@@autopath/page-error-404.html">Error 404</a>
                    <a class="dropdown-item @@if(link=='page-terms.html'){active}" href="@@autopath/page-terms.html">Terms &amp; Conditions</a>
                    <a class="dropdown-item @@if(link=='page-privacy.html'){active}" href="@@autopath/page-privacy.html">Privacy &amp; Policy</a>
                  </div>
                </div>
                <!-- End Row -->
              </div>
              <!-- End Main Content -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Pages -->

          <!-- Blog -->
          <li class="nav-item dropdown">
            <a id="blogMegaMenu" class="nav-link dropdown-toggle @@if(category=='blog'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>

            <!-- Mega Menu -->
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="blogMegaMenu" style="min-width: 45rem;">
              <!-- Main Content -->
              <div class="row">
                <div class="col-lg d-none d-lg-block">
                  <div class="bg-light rounded-3 h-100 p-4">
                    <span class="d-block fs-4 fw-bold text-dark mb-3">Latest from the Blog</span>

                    <div class="row">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <!-- Card -->
                        <a class="d-block" href="@@autopath/documentation/index.html">
                          <img class="img-fluid rounded-2 mb-2" src="@@autopath/assets/svg/components/card-1.svg" alt="Image Description">

                          <span class="fs-4 fw-medium text-dark text-inherit">Documentation</span>
                          <p class="fs-6 text-body">Development guides for building projects with Unify</p>
                          <span class="link link-pointer">Learn more</span>
                        </a>
                        <!-- End Card -->
                      </div>
                      <!-- End Col -->

                      <div class="col-md-6">
                        <!-- Card -->
                        <a class="d-block" href="@@autopath/snippets/index.html">
                          <img class="img-fluid rounded-2 mb-2" src="@@autopath/assets/svg/components/card-2.svg" alt="Image Description">

                          <span class="fs-4 fw-medium text-dark text-inherit">Snippets</span>
                          <p class="fs-6 text-body">Move quickly with copy-to-clipboard feature</p>
                          <span class="link link-pointer">Learn more</span>
                        </a>
                        <!-- End Card -->
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="navbar-dropdown-menu-inner">
                    <span class="dropdown-header">Classic</span>
                    <a class="dropdown-item @@if(link=='blog-modern.html'){active}" href="@@autopath/blog-modern.html">Modern <span class="badge text-primary">New</span></a>
                    <a class="dropdown-item @@if(link=='blog-grid.html'){active}" href="@@autopath/blog-grid.html">Grid</a>
                    <a class="dropdown-item @@if(link=='blog-list.html'){active}" href="@@autopath/blog-list.html">List</a>
                    <a class="dropdown-item @@if(link=='blog-article.html'){active}" href="@@autopath/blog-article.html">Article <span class="badge text-primary">New</span></a>
                    <a class="dropdown-item @@if(link=='blog-author-profile.html'){active}" href="@@autopath/blog-author-profile.html">Author Profile</a>
                  </div>
                </div>
              </div>
              <!-- End Main Content -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Blog -->

          <!-- Docs -->
          <li class="nav-item dropdown">
            <a id="docsMegaMenu" class="nav-link dropdown-toggle @@if(category=='docs'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Docs</a>

            <!-- Mega Menu -->
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="docsMegaMenu" style="min-width: 20rem;">
              <!-- Link -->
              <a class="navbar-dropdown-menu-media-link" href="@@autopath/documentation/index.html">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <i class="bi-file-earmark-text fs-2 text-dark"></i>
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <span class="navbar-dropdown-menu-media-title">Documentation <span class="badge badge-sm bg-primary rounded-pill ms-1">v3.2.2</span></span>
                    <p class="navbar-dropdown-menu-media-desc">Development guides for building projects with Unify</p>
                  </div>
                </div>
              </a>
              <!-- End Link -->

              <div class="dropdown-divider"></div>

              <!-- Link -->
              <a class="navbar-dropdown-menu-media-link" href="@@autopath/snippets/index.html">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <i class="bi-layers fs-2 text-dark"></i>
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <span class="navbar-dropdown-menu-media-title">Snippets</span>
                    <p class="navbar-dropdown-menu-media-desc">Move quickly with copy-to-clipboard feature</p>
                  </div>
                </div>
              </a>
              <!-- End Link -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Docs -->
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>